/*--COMMON--*/
.clearfix {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: block;
  padding: 20px 15px;
  color: white;
  border: 1px dashed white;
}

a {
  text-decoration: none;
  color: inherit;
}
/*--/COMMON--*/

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.layout-positioner {
  width: 940px;
  margin: 0 auto;
}

/*--HEADER--*/
.header {
  background-color: black;
  color: white;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.table-positioner {
  display: table;
  float: left;
  margin: 0 20px;
}

.logo {
  display: table-cell;
  vertical-align: middle;
  height: 72px;
}

.logo img {
  display: block;
}

.logo:hover {
  background: #242424;
}

.main-navigation {
  float: left;
  font-size: 0;
  height: 72px;
  line-height: 72px;
}

.main-navigation a {
  display: inline-block;
  font-size: 16px;
  margin: 0 20px;
}

.main-navigation a:hover {
	background: #242424;
}

.login {
  float: right;
  font-size: 0;
  margin-right: 20px;
  line-height: 72px;
}

.login img {
  margin-right: 13px;
  vertical-align: middle;
}

.login span {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

.login:hover {
  background: #242424;
}
/*--/HEADER--*/

/*--MAIN--*/

.main {
  background-image: url("../img/bg-main.png");
  padding: 55px 0;
}

.main h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.breadcrumbs {
  margin-bottom: 60px;
}
.breadcrumbs a,
.breadcrumbs div {
  display: inline-block;
  margin-right: 15px;
}

.breadcrumbs .separator {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000000;
  transform: rotate(45deg);
}



.main b {
  display: block;
  font-size: 46px;
  margin-bottom: 74px;
}

.main b img,
.main b span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

.main b img:last-child {
  margin-right: 0;
}

.main .band {
  margin-bottom: 67px;
  /*border: 1px solid red;*/
}

.main .column {
  width: 470px;
  float: left;
}

.main .column ul {
  list-style-image: url("../img/icon-onav.png");
  list-style-position: inside;
  padding: 0;
}

.main .column ul li {
  margin-bottom: 20px;
}

.main table {
  border-collapse: collapse;
  border: 2px solid black;
}

.main table td {
  padding: 10px;
  width: 200px;
  border: 2px solid black;
}

.main table td:last-child {
  text-align: center;
}
